
.arial-font {
	font-family: 'Arial Local', "Times New Roman";
	font-size: 20px;
}
.default-font {
	font-size: 20px;
}

h1 {
	font-family: 'Gloria Hallelujah', "Times New Roman";
}
h2 {
	font-family: 'Arial Local', "Times New Roman";
}
h3 {
	font-family: 'Abril Fatface', "Times New Roman";
}